#Card-1{
    background-color: rgb(214, 234, 247);
    display: flex;
    justify-content: left;
    border-radius: 20px;
    border:  20px;
    height: 200px;
    width: 1000px;
}
#Card-1 button{
    display: flex;
    justify-content: right;
    height: 100px;
    width: 700px;
}