header{
    display: flex;
}
#Container{
    background-color: rgb(218, 226, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 300px;
    width: 1200px;
    margin: 10px;
    margin-top: 10px;
    
}
.Card{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.Btn{
    height: 200px;
    width: 200px;
    flex-direction: column;
    display: flex;
    margin: 10px;
}
h2{
    flex-direction: column;
}
#Container_2{
    background-color: rgb(218, 226, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 300px;
    width: 800px;
    margin: 10px;
    margin-top: 10px;
}

.Card_2{
    display: flex;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100px;
}

thead th {
  text-align: left;
  font-size: 14px;
  color: #6b7a99;
  padding: 10px;
  width: 100px;
}

tbody tr {
  background: white;
  border-radius: 8px;
  width: 100px;
}

tbody td {
  padding: 14px 10px;
  width: 100px;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.processado {
  background-color: #2ecc71;
}

.pendente {
  background-color: #f1c40f;
}

.cancelado {
  background-color: #e74c3c;
}

main{
    display: flex;
}
#Container_3{
    background-color: rgb(218, 226, 248);
    border-radius: 3px;
    height: 300px;
    width: 1110px;
    margin: 10px;
    margin-top: 10px;
}
.Card_3{
    display: flex;
}
#Container_4{
    background-color: rgb(218, 226, 248);
    border-radius: 3px;
    height: 300px;
    width: 750px;
    margin: 10px;
    margin-top: 10px;
}
.Card_4{
    display: flex;
}
footer{
    display: flex;
}
#Container_5{
    background-color: rgb(218, 226, 248);
    border-radius: 3px;
    height: 270px;
    width: 1110px;
    margin: 10px;
    margin-top: 10px;
}
.Card_5{
    display: flex;
}
#Container_6{
    background-color: rgb(218, 226, 248);
    border-radius: 3px;
    height: 270px;
    width: 750px;
    margin: 10px;
    margin-top: 10px;
}
.Card_6{
    display: flex;
}

