#Container{
    background-color: rgb(218, 226, 248);
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    width: 1100px;
}
.Card{
    display: flex;
    justify-content: space-between;
}
.Btn{
    height: 200px;
    width: 200px;
    
}
h2{
    text-align: center;
}