#Card-1{
    background-color: rgb(214, 234, 247);
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    border:  1px solid black;
    height: 200px;
    width: 1200px;
    margin: 20px;
    padding: 5px;
}
#robo{
    width: 200px;
    height: 200px;
}

#Card-2{
    background-color: rgb(214, 234, 247);
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    border:  1px solid black;
    height: 400px;
    width: 1200px;
    margin: 20px;
    padding: 5px; 
}
#Card-2 h2{
    margin-right: 20px;
}