header{
    display: flex;
}
#Container{
    background-color: rgb(218, 226, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 300px;
    width: 1200px;
    margin: 10px;
    margin-top: 10px;
    
}
.Card{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.Btn{
    height: 200px;
    width: 200px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    
}
h2{
    flex-direction: column;
}
#Container_2{
    background-color: rgb(218, 226, 248) ;
}
main{
    display: flex;
}
#Container_3{
    background-color: rgb(218, 226, 248);
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 300px;
    width: 1200px;
    margin: 10px;
    margin-top: 10px;
}
#Container_4{
    background-color: rgb(218, 226, 248);
}