#Container{
    background-color: rgb(218, 226, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    width: 1100px;
    margin: 10px;
    margin-top: 10px;
    
}
.Card{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.Btn{
    height: 200px;
    width: 200px;
    flex-direction: column;
    display: flex;
    margin: 10px
    
}
h2{
    flex-direction: column;
}